/* !-----------------------------------CSS------------------------------------! */


/* CSS Code */
/* Heading */
h1 {
color: #ff003c;
font-size: 45px;
}

/* 3*3 Grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
width: 80px;
height: 52px;
margin: auto;
border: 1px solid gray;
border-radius: 6px;
font-size: 30px;
text-align: center;
}

/* Reset Button */
#but {
box-sizing: border-box;
width: 95px;
height: 40px;
border: 1px solid rgb(23, 6, 62);
margin: auto;
border-radius: 4px;
font-family: Verdana,
Geneva, Tahoma, sans-serif;

background-color: rgb(62, 27, 166);
color: rgba(190, 187, 192, 0.97);
font-size: 20px;
cursor: pointer;
}

/* Player turn space */
#print {
font-family: Verdana,
Geneva, Tahoma, sans-serif;

color: dodgerblue;
font-size: 20px;
}

/* Main Contianer */
#main {
text-align: center;
}

/* Game Instruction Text */
#ins {
font-family: Verdana,
Geneva, Tahoma, sans-serif;

color: rgb(67, 29, 191);
font-size: 17px;
}
